<div id="container">
  <form id="character_checks" action="">
    <input type="checkbox" id="prof" name="acrobatics_proficiency">
    <label for="acrobatics_proficiency" id="acrobatics_check">Acrobatics</label>
    <input type="checkbox" id="prof" name="animal_proficiency">
    <label for="animal_proficiency" id="animal_check">Animal</label>
    <input type="checkbox" id="prof" name="arcana_proficiency">
    <label for="arcana_proficiency" id="arcana_check">Arcana</label>
    <input type="checkbox" id="prof" name="athletics_proficiency">
    <label for="athletics_proficiency" id="athletics_check">Athletics</label>
    <input type="checkbox" id="prof" name="deception_proficiency">
    <label for="deception_proficiency" id="deception_check">Deception</label>
    <input type="checkbox" id="prof" name="history_proficiency">
    <label for="history_proficiency" id="history_check">History</label>
    <input type="checkbox" id="prof" name="insight_proficiency">
    <label for="insight_proficiency" id="insight_check">Insight</label>
    <input type="checkbox" id="prof" name="intimidation_proficiency">
    <label for="intimidation_proficiency" id="intimidation_check">Intimidation</label>
    <input type="checkbox" id="prof" name="investigation_proficiency">
    <label for="investigation_proficiency" id="investigation_check">Investigation</label>
    <input type="checkbox" id="prof" name="medicine_proficiency">
    <label for="medicine_proficiency" id="medicine_check">Medicine</label>
    <input type="checkbox" id="prof" name="nature_proficiency">
    <label for="nature_proficiency" id="nature_check">Nature</label>
    <input type="checkbox" id="prof" name="perception_proficiency">
    <label for="perception_proficiency" id="perception_check">Perception</label>
    <input type="checkbox" id="prof" name="performance_proficiency">
    <label for="performance_proficiency" id="performance_check">Performance</label>
    <input type="checkbox" id="prof" name="persuasion_proficiency">
    <label for="persuasion_proficiency" id="persuasion_check">Persuasion</label>
    <input type="checkbox" id="prof" name="religion_proficiency">
    <label for="religion_proficiency" id="religion_check">Religion</label>
    <input type="checkbox" id="prof" name="sleight_proficiency">
    <label for="sleight_proficiency" id="sleight_check">Sleight of hand</label>
    <input type="checkbox" id="prof" name="stealth_proficiency">
    <label for="stealth_proficiency" id="stealth_check">Stealth</label>
    <input type="checkbox" id="prof" name="survival_proficiency">
    <label for="survival_proficiency" id="survival_check"> Survival</label>
  </form>
</div>
