<!--The character's stats-->
<div id="container">
  <div id="stat_container">
    <fieldset>
      <legend style="text-align: center">Strength</legend>
      <form class="stat_container" id="str">
        <form class="stat_num" style="text-align: center">STR</form>
        <form class="stat_mod" style="text-align: center">MOD</form>
      </form>
    </fieldset>
  </div>
</div>
<div id="container">
  <div id="stat_container">
    <fieldset>
      <legend style="text-align: center">Dexterity</legend>
      <form class="stat_container" id="dex">
        <form class="stat_num" style="text-align: center">DEX</form>
        <form class="stat_mod" style="text-align: center">MOD</form>
      </form>
    </fieldset>
  </div>
</div>
<div id="container">
  <div id="stat_container">
    <fieldset>
      <legend style="text-align: center">Constitution</legend>
      <form class="stat_container" id="con">
        <form class="stat_num" style="text-align: center">CON</form>
        <form class="stat_mod" style="text-align: center">MOD</form>
      </form>
    </fieldset>
  </div>
</div>
<div id="container">
  <div id="stat_container">
    <fieldset>
      <legend style="text-align: center">Intelligence</legend>
      <form class="stat_container" id="int">
        <form class="stat_num" style="text-align: center">INT</form>
        <form class="stat_mod" style="text-align: center">MOD</form>
      </form>
    </fieldset>
  </div>
</div>
<div id="container">
  <div id="stat_container">
    <fieldset>
      <legend style="text-align: center">Wisdom</legend>
      <form class="stat_container" id="wis">
        <form class="stat_num" style="text-align: center">WIS</form>
        <form class="stat_mod" style="text-align: center">MOD</form>
      </form>
    </fieldset>
  </div>
</div>
<div id="container">
  <div id="stat_container">
    <fieldset>
      <legend style="text-align: center">Charisma</legend>
      <form class="stat_container" id="cha">
        <form class="stat_num" style="text-align: center">CHA</form>
        <form class="stat_mod" style="text-align: center">MOD</form>
      </form>
    </fieldset>
  </div>
</div>
