#container {
  border: 2px solid red;
  padding: 0 auto;
  margin: 0 auto;
  width: 20%;
}
.stat_container{
  border: 2px solid orange;
  padding: 10px;
  margin: 0 auto;
}

.stat_num{
  border: 2px solid gray;
  padding: 0 auto;
  margin: 0 auto;
}

.stat_mod{
  border: 2px solid gray;
  padding: 0 auto;
  margin: 0 auto;
}

