<!--Holds all the content-->
<div id="container">
  <!--The character info section-->
  <div id="character_info_container">
    <h2 id="character_name"></h2>
    <p id="character_class">char_class.name</p>
    <p id="character_level"></p>
    <p id="character_background"></p>
    <p id="character_race"></p>
    <p id="character_alignment"></p>
    <p id="character_exp"></p>
  </div>
  <!--The character's stats-->
  <div id="stat_container">
    <div id="stat_container">
      <div class="stat_container" id="str">
        <div class="stat_mod" id="strmod">
        </div>
      </div>
      <div class="stat_container" id="dex">
        <div class="stat_mod" id="dexmod">
        </div>
      </div>
      <div class="stat_container" id="con">
        <<div class="stat_mod" id="conmod">
        </div>
      </div>
      <div class="stat_container" id="int">
        <div class="stat_mod" id="intmod">
        </div>
      </div>
      <div class="stat_container" id="wis">
        <div class="stat_mod" id="wismod">
        </div>
      </div>
      <div class="stat_container" id="cha">
        <div class="stat_mod" id="chamod">
        </div>
      </div>
    </div>
  </div>
  <!--The character's checks and throws-->
  <div id="saves_and_throws">
    <form id="character_throws" action="">
      <input type="checkbox" id="prof" name="strength_proficiency">
      <label for="strength_proficiency" id="strength_throw">Strength</label>
      <input type="checkbox" id="prof" name="dexterity_proficiency">
      <label for="dexterity_proficiency" id="dexterity_throw">Dexterity</label>
      <input type="checkbox" id="prof" name="constitution_proficiency">
      <label for="constitution_proficiency" id="constitution_throw">Constitution</label>
      <input type="checkbox" id="prof" name="intelligence_proficiency">
      <label for="intelligence_proficiency" id="intelligence_throw">Intelligence</label>
      <input type="checkbox" id="prof" name="wisdom_proficiency">
      <label for="wisdom_proficiency" id="wisdom_throw">Wisdom</label>
      <input type="checkbox" id="prof" name="charisma_proficiency">
      <label for="strength_proficiency" id="charisma_throw">Charisma</label>
    </form>

    <form id="character_checks" action="">
      <input type="checkbox" id="prof" name="acrobatics_proficiency">
      <label for="acrobatics_proficiency" id="acrobatics_check">Acrobatics</label>
      <input type="checkbox" id="prof" name="animal_proficiency">
      <label for="animal_proficiency" id="animal_check">Animal</label>
      <input type="checkbox" id="prof" name="arcana_proficiency">
      <label for="arcana_proficiency" id="arcana_check">Arcana</label>
      <input type="checkbox" id="prof" name="athletics_proficiency">
      <label for="athletics_proficiency" id="athletics_check">Athletics</label>
      <input type="checkbox" id="prof" name="deception_proficiency">
      <label for="deception_proficiency" id="deception_check">Deception</label>
      <input type="checkbox" id="prof" name="history_proficiency">
      <label for="history_proficiency" id="history_check">History</label>
      <input type="checkbox" id="prof" name="insight_proficiency">
      <label for="insight_proficiency" id="insight_check">Insight</label>
      <input type="checkbox" id="prof" name="intimidation_proficiency">
      <label for="intimidation_proficiency" id="intimidation_check">Intimidation</label>
      <input type="checkbox" id="prof" name="investigation_proficiency">
      <label for="investigation_proficiency" id="investigation_check">Investigation</label>
      <input type="checkbox" id="prof" name="medicine_proficiency">
      <label for="medicine_proficiency" id="medicine_check">Medicine</label>
      <input type="checkbox" id="prof" name="nature_proficiency">
      <label for="nature_proficiency" id="nature_check">Nature</label>
      <input type="checkbox" id="prof" name="perception_proficiency">
      <label for="perception_proficiency" id="perception_check">Perception</label>
      <input type="checkbox" id="prof" name="performance_proficiency">
      <label for="performance_proficiency" id="performance_check">Performance</label>
      <input type="checkbox" id="prof" name="persuasion_proficiency">
      <label for="persuasion_proficiency" id="persuasion_check">Persuasion</label>
      <input type="checkbox" id="prof" name="religion_proficiency">
      <label for="religion_proficiency" id="religion_check">Religion</label>
      <input type="checkbox" id="prof" name="sleight_proficiency">
      <label for="sleight_proficiency" id="sleight_check">Sleight of hand</label>
      <input type="checkbox" id="prof" name="stealth_proficiency">
      <label for="stealth_proficiency" id="stealth_check">Stealth</label>
      <input type="checkbox" id="prof" name="survival_proficiency">
      <label for="survival_proficiency" id="survival_check"> Survival</label>
    </form>

  </div>

  <!--The character's HP and death saves-->
  <div id="battle_container">
    <p id="character_armor_class"></p>
    <p id="character_initiative"></p>
    <p id="character_speed"></p>

    <div id="hp_container">
      <p id="character_hp_max"></p>
      <p id="character_hp_current"></p>
      <p id="character_hp_temp"></p>
      <div id="character_hit_dice">
        <p id="total_hit_dice"></p>
        <p id="remaining_hit_dice"></p>
        <p id="hit_die_type"></p>
      </div>
    </div>

    <div id="death_saves">
      <p id="death_save_success"></p>
      <p id="death_save_failure"></p>
    </div>
  </div>
</div>
