<!--The character info section-->
<form>
  <div id="container">
    <fieldset style="outline-color: rgb(116, 33, 50);">
      <legend>Character Name</legend>
      <form id="character_name">
        <input type="text" placeholder="Character Name"/>
        </form>
    </fieldset>
    <div class="form-group" id="char_name">
      <div class="dropdown">
        <select [ngModel]="char_name" name="char_name">
          <option [ngValue]="null" disabled>Choose your Class</option>
          <option
            *ngFor="let class of classes"
            [value]="class">
            {{ class.name }}
          </option>
        </select>
      </div>
      <br />
    </div>
    <div class="form-group" id="character_level">
      <div class="dropdown">
        <select  [ngModel]="level" (ngModelChange)="registerCharacter($char_name, $char_class, $level, $char_background, $race, $character_alignment)" name="level">
          <option [ngValue]="null" disabled>Choose the Class Level</option>
          <option
            *ngFor="let lvl of level"
            [value]="lvl">
            {{ lvl }}
          </option>
          <br />
        </select>
      </div>
      <br />
    </div>
    <div class="form-group" id="character_background">
      <div class="dropdown">
        <select  [ngModel]="char_background" (ngModelChange)="registerCharacter($char_background)" name="char_background">
          <option [ngValue]="null" disabled>Choose A Background</option>
          <option
            *ngFor="let class of backgrounds"
            [value]="class">
            {{ class.name }}
          </option>
          <br />
        </select>
      </div>
      <br />
    </div>
    <div class="form-group" id="character_race">
      <div class="dropdown">
        <select  [ngModel]="race" (ngModelChange)="registerCharacter($race)" name="race">
          <option [ngValue]="null" disabled>Choose your Race</option>
          <option
            *ngFor="let class of race"
            [value]="class">
            {{ class.name }}
          </option>
          <br />
        </select>
      </div>
      <br />
    </div>
    <div class="form-group" id="character_alignment">
      <div class="dropdown">
        <select  [ngModel]="alignment" (ngModelChange)="registerCharacter($alignment)" name="alignment">
          <option [ngValue]="null" disabled>Choose your Alignment</option>
          <option
            *ngFor="let align of alignment"
            [value]="align">
            {{ align }}
          </option>
          <button type="submit">
            Create Character
          </button>
          <br />
        </select>
      </div>
      <br />
    </div>
  </div>
</form>
<br />
<div id="container">
  <div id="character_equipment">
    <div class="dropdown">
      <select>
        <option [ngValue]="null" disabled>Choose your Equipment</option>
        <option *ngFor="let class of equipment" [value]="class">
          {{ class.name }}
        </option>
      </select>
      <button (click)="onSaveEquipment()">Create Equipment List</button>
    </div>
    <br />
  </div>
</div>
<fieldset style="outline-color: rgb(116, 33, 50);">
  <legend>Experience</legend>
  <form id="characterExperience">
    <input type="number" placeholder="Current Xp" />
    <button (click)="characterExperience()">Add</button>
    <form type="number" id="total_experience">Total Experience</form>
  </form>
</fieldset>
