<!--The character info section-->
<div id="container">
  <h2 id="character_name">Name</h2>
  <div class="dropdown">
    <select>
      <option value="default">Choose your Class</option>
      <option *ngFor="let class of classes" [value]="class">{{class.name}}</option>
      <br>
    </select>
  </div>
  <div id="character_level"></div>
    <div class="dropdown">
      <select>
      <option value="default">Choose the Class Level</option>
      <option *ngFor="let class of level">{{level.values}}</option>
      <br>
    </select>
    </div>
  <div id="character_background">Background</div>
  <div id="character_race">Race</div>
  <div id="character_alignment">Alignment</div>
  <div id="character_exp">Experience</div>
</div>
