#container {
  border: 2px solid purple;
  padding: 0 auto;
  margin: 0 auto;
  width: 100%;
  background-color: rgb(224, 224, 224);
  border-radius: 5px;
}
.dropdown {
  display: inline;
  position: relative;
  margin: 0 2em;
}

