<!--The character's HP and death saves-->
<div id="container">
  <div id="character_armor_class">0</div>
  <div id="character_initiative">0</div>
  <div id="character_speed">0</div>

  <div id="hp_container">
    <div id="character_hp_max">0</div>
    <div id="character_hp_current">0</div>
    <div id="character_hp_temp">0</div>

    <div id="character_hit_dice">
      <div id="total_hit_dice">0</div>
      <div id="remaining_hit_dice">0</div>
      <div id="hit_die_type">0</div>
    </div>
  </div>

  <div id="death_saves">
    <div id="death_save_success">***</div>
    <div id="death_save_failure">***</div>
  </div>
</div>

