<!--The character's HP and death saves-->
<div id="container">
  <div id="character_armor_class">AC</div>
  <div id="character_initiative">Initiative</div>
  <div id="character_speed">Speed</div>

  <div id="hp_container">
    <span id="character_hp_current">current HP</span> /
    <span id="character_hp_max">HP max</span>
    <div id="character_hp_temp">Temp HP</div>

    <div id="character_hit_dice">
      <div id="total_hit_dice">Hit dice total</div>
      <div id="remaining_hit_dice">Remaining hit dice</div>
      <div id="hit_die_type">Hit die: 1d6</div>
    </div>
  </div>

  <div id="death_saves">
    <div id="death_save_success">Successes ***</div>
    <div id="death_save_failure">Failures ***</div>
  </div>
</div>

