<!-- Character saving throws-->
<div id="container">
  <form id="character_throws" action="">
    <input type="checkbox" id="prof" name="strength_proficiency">
    <label for="strength_proficiency" id="strength_throw">Strength</label>
    <input type="checkbox" id="prof" name="dexterity_proficiency">
    <label for="dexterity_proficiency" id="dexterity_throw">Dexterity</label>
    <input type="checkbox" id="prof" name="constitution_proficiency">
    <label for="constitution_proficiency" id="constitution_throw">Constitution</label>
    <input type="checkbox" id="prof" name="intelligence_proficiency">
    <label for="intelligence_proficiency" id="intelligence_throw">Intelligence</label>
    <input type="checkbox" id="prof" name="wisdom_proficiency">
    <label for="wisdom_proficiency" id="wisdom_throw">Wisdom</label>
    <input type="checkbox" id="prof" name="charisma_proficiency">
    <label for="strength_proficiency" id="charisma_throw">Charisma</label>
  </form>
</div>
